/* Theme Final */

/* Color Theme Swatches in Hex */
.Blood-On-Slate-1-hex { color: #E30613; }
.Blood-On-Slate-2-hex { color: #BF8C60; }
.Blood-On-Slate-3-hex { color: #435553; }
.Blood-On-Slate-4-hex { color: #263585; }
.Blood-On-Slate-5-hex { color: #181F1F; }
